#wrapper {
    position: relative;
    margin: auto;
    height: 100%;
    width: 60em;
    background-color: rgba(33,33,33,0.6);
    
    box-sizing: border-box;
    padding: 2em;
    text-align: center;
}

#big-video-wrap {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}